# Compiled output
build
dist
tmp
/out-tsc

# Dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.cursorrules
.cursorignore
.aider.*
.ai

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
*.log

# System Files
.DS_Store
Thumbs.db

# Custom
local/

# Testing
coverage
*.lcov
.vitest