name: Check Code

on:
  pull_request:
  push:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - name: Setup pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda
        with:
          run_install: false
      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444
        with:
          node-version-file: .nvmrc
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Lint
        run: pnpm lint
      - name: Spell check
        run: pnpm spell-check
      - name: Type check
        run: pnpm type-check
      - name: Run tests
        run: pnpm test:coverage
      - name: Build
        run: pnpm build
      - name: Validate schemas
        run: pnpm validate-schemas
      - name: Check schema references
        run: pnpm check-refs
