name: Publish Package
on:
  push:
    branches: [main]
  workflow_dispatch:
permissions: write-all
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
        with:
          fetch-depth: 0
          token: ${{ secrets.ADMIN_GITHUB_TOKEN }} # required for bypassing branch protection
      - name: Configure Git
        run: |
          git config --local user.name "GitHub Action"
          git config --local user.email "action@github.com"
      - name: Setup pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda
        with:
          run_install: false
      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444
        with:
          node-version-file: .nvmrc
          registry-url: 'https://registry.npmjs.org'
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: ESLint
        run: pnpm lint
      - name: Type check
        run: pnpm type-check
      - name: Lint package.json
        run: pnpm pkgJsonLint
      - name: Calculate next version
        id: calculate_version
        uses: mathieudutour/github-tag-action@a22cf08638b34d5badda920f9daf6e72c477b07b
        with:
          github_token: ${{ secrets.ADMIN_GITHUB_TOKEN }}
          default_bump: patch
          dry_run: true
          custom_release_rules: |
            *:patch:Patch Release
            feat:minor:Minor Release
            fix:patch:Patch Release
            docs:patch:Documentation
            style:patch:Code Style
            refactor:patch:Code Refactoring
            perf:patch:Performance Improvements
            test:patch:Tests
            build:patch:Build System
            ci:patch:Continuous Integration
            chore:patch:Chores
            revert:patch:Reverts
      - name: Build package
        env:
          SCHEMA_VERSION: ${{ steps.calculate_version.outputs.new_version }}
        run: pnpm build
      - name: Generate IPFS schemas
        env:
          SCHEMA_VERSION: ${{ steps.calculate_version.outputs.new_version }}
        run: pnpm generate-ipfs-schemas
      - name: Validate schemas
        run: pnpm validate-schemas
      - name: Verify schema versions
        env:
          SCHEMA_VERSION: ${{ steps.calculate_version.outputs.new_version }}
        run: pnpm verify-schema-versions
      - name: Create version tag
        if: steps.calculate_version.outputs.new_tag
        run: |
          git tag ${{ steps.calculate_version.outputs.new_tag }}
      - name: Update package.json version
        if: steps.calculate_version.outputs.new_tag
        run: |
          NEW_VERSION="${{ steps.calculate_version.outputs.new_version }}"
          npm version $NEW_VERSION --no-git-tag-version
          git add package.json
          git commit -m "chore: bump version to $NEW_VERSION [skip ci]" --no-verify
          git pull --rebase
          git push origin main
          git push origin ${{ steps.calculate_version.outputs.new_tag }}
      - name: Publish to npm
        if: steps.calculate_version.outputs.new_tag
        run: pnpm publish --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Create GitHub Release
        if: steps.calculate_version.outputs.new_tag
        uses: softprops/action-gh-release@6cbd405e2c4e67a21c47fa9e383d020e4e28b836
        with:
          tag_name: ${{ steps.calculate_version.outputs.new_tag }}
          name: Release ${{ steps.calculate_version.outputs.new_version }}
          body: ${{ steps.calculate_version.outputs.changelog }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.ADMIN_GITHUB_TOKEN }}
